.change-password-section {
    .change-password-form {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        gap: 15px;
    }

    .change-password-action {
        display: flex;
        justify-content: flex-end;
        margin: 10px 0;
    }
}
