.air-tickets-popup {
    .popup-body {
        padding-top: 0;

        .air-tickets-form {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
            gap: 15px;
        }
    }
    .popup-footer {
        .input-number {
            width: 200px;
        }
    }
}

div[id^="el-popper-container-"] {
    .el-select-dropdown__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .option-name {
            span {
                font-weight: bold;
            }
        }
    }

    .option-name:nth-child(2){
        color: #8492a6;
        font-size: 13px
    }
}
